@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="HomeController/getResult" method="POST">
    <select name="origen">
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="BGP">BGP</option>
    </select>

    <select name="destino">
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="BGP">BGP</option>
    </select>

    <input type="text" name="cantidad" />
    <input type="submit" value="Calcular" />
</form>