@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Diego Vivar Otero<br />
    <abbr title="Phone">P:</abbr>
    +34 662039893
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:diego.vivar.otero@gmail.com">diego.vivar.otero@gmail.com</a><br />
</address>
