@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <center>
        <h1>Calculin</h1>
        <h2>Aplicación web para comprobar el cambio de divisas</h2>
    </center>
</div>

